.toDo{
    padding: 15px;
    text-align: center;
}
.task{
    margin: 10px auto;
}
.input{
    margin-bottom: 10px;
}
.actionButton{
    margin: 5px;
}
.selected{
    border: 1px solid #f00
}
.Search{
    background: rgba(52, 84, 97, 0.103);
    text-align: left;
}
/* .description{
   
} */